{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{%static 'bootstrap/dist/css/bootstrap.min.css'%}">
        <!-- <link rel="stylesheet" href="{%static '@fortawesome/fontawesome-free/css/all.css'%}"> -->
        <!-- <link rel="stylesheet" href="/static/challenge1.css"> -->
        <link rel="stylesheet" href="/static/style.css">


        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container-fluid">
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
            {% block content %}{% endblock content %}
        </div>
        {% render_block "js" %}
        <script src="{%static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
        <script src="{%static 'jquery/dist/jquery.min.js'%}"></script>
        <!-- <script src="{%static 'popper.js/dist/popper.min.js'%}"></script> -->
    </body>
</html>
