/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*----------------------------------------------*/

body  {
    background-image: url(images/bg.jpg);
    background-size: cover;
    position: ;
    
}

header {
    margin: auto;
    width: 1020px;
    text-align: center;
    font-family: 'Josefin Sans' , sans-serif;

}

main {
    width: 1020px;
    text-align: center;
    margin:auto;
    background-color: white;
    font-family: 'Bitter', serif;    
}

/*-------header------*/

nav {
    padding-bottom: 21px;
    padding-top: 21px;
 
}

h1 {
    font-size: 133px;
    color:#cfa205;
    padding-top: 33.5px;
    padding-bottom: 33.5px;
}

h2 {
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 21px;
    color:#cfa205;
}

i {
    font-size: 15px;
    width: 15px;
    border:solid 2px gray;
    border-radius: 50%;
    padding:6px;
    color: gray;
    margin: 3px;

   
}

nav, #titre{
    background-color: black;
}



#logo {
    background-color: #e8e8e8;
    padding: 11.5px 0;

}
/*---------header + main-------*/
li, article {
    display: inline-block;
}

li, a{
    color:white;
    vertical-align: middle;
    font-size: 18px;
    text-decoration:none;
    padding:0 8px;
}

li:hover {
    color: #cfa205;
}
/*--------main--------*/

article {
    width: 260px;
    height: 480px;
    margin: auto;
    text-align: left;
    /*padding: 20px 18.7px;*/


}

section article:nth-child(2) {
    margin:0 55px; 
}

main > section > p {
    font-size: 14px;
    padding:18px 0; 
    line-height: 18px;
    font-weight: bolder;
    color: gray;
}

section {
    width: 900px;
    margin:auto;
}

section p{
    font-size: 14px;
    
}
hr {
    width:898px;
    color:lightgray;
    
    background-color: lightgray;
}

article h2{
    color: black;
    font-weight: bolder;
}

article p {
    color: gray;
}